[Unit]
Description=An Answer to your Wayland Wallpaper Woes
Documentation=man:awww-daemon(1)
After=graphical-session.target
After=wayland-session@hyprland.desktop.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=awww-daemon
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
WantedBy=wayland-session@hyprland.desktop.target
