[Unit]
Description=Notification center for Wayland and not just for Sway
Documentation=https://https://github.com/ErikReider/SwayNotificationCenter
After=graphical-session.target

[Service]
Type=exec
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStart=swaync
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
